<div id="register-content">
	<h1>Tasks performed</h1>
	
	<a id="register-new-task" href="new/">
		Register new task
	</a>

	<hr>

	<div class="reports">
	{% for report in reports %}
		<a class="report" href="javascript:void(0);" data-id="{{ report.id }}">
			<div class="line">
				<div class="date">
					<div class="date-from">
						{{ report.from }}
					</div>
					<div class="date-to">
						{{ report.to }}
					</div>
				</div>

				<div class="source">
					{{ report.source () }}
				</div>

				<div class="type">
					{{ report.type () }}
				</div>

				<div class="customer">
					{{ report.customer ().name|default('No customer') }}
				</div>

				<div class="customer_user">
					{{ report.customerUser ()|default('No user') }}
				</div>

				<div class="location">
					{{ report.location|default('No location') }}
				</div>

				<div class="ticket">
					{{ report.ticket|default('No ticket') }}
				</div>

				<div class="servers">
					{{ report.servers ()|default('No servers') }}
				</div>
			</div>
			<div class="user">
				{{ report.user () }}
			</div>
			<div class="description">
				{{ report.description|default('No description provided') }}
			</div>
		</a>
	{% endfor %}
	</div>
</div>